* {
    box-sizing: border-box;
    
}


.contenedor{
    width: 90%px;
    max-width: 900px;
    margin: 0 auto 0 auto;
    font-family: 'Montserrat', sans-serif;
   
}

.contenedorMaster{
    width: 900px;
    background-color: #17a2b8;
}

#headMaster{
    margin-top: 100px;
}

.cardBody{
    width: 900px;
    max-width: 900px;
    min-width: 80px;
    height: auto;
    color: #17a2b8;
    
}
#cardBody{
    background-color: fff;
}

.areaCustomer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #17a2b8;
}

.borderCustomer{
    border-right-style: inset;
}
.btnMaster{
    align-items: center;
    text-align: right;
}

#colorAll{
    background-color: #232c28;
    color: aquamarine;
}

#cardBodDetail{
    background-color: #232c28;
    color: aquamarine;
}




















/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */




/* OTHERS */

*:focus {
    outline: none;
}

#icon {
    width:60%;
}



